<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'accounts-style.css' %}">
    <script src="{% static 'accounts.js' %}"></script>
	<title>Account</title>
</head>
<body>
    <div class="container">
        
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <ul style="list-style:none;margin-top:20px">
                    <li><button type="button" class="button">
                        <a href="../products">Start Shopping</a></button></li>
                    <li><button type="button" class="button">
                        <a href="../../products/shop.html">Cart</a></button></li>
                    <li><button type="button" class="button">
                        <a href="../fast_transaction/historyKamu">Transaction History</a></button></li>
                </ul>
            </div>
            <div class="col">
                <div class="card" style="margin-top:20px">
                    <h4 class="table-header">Reviews History</h4>
                    {% if ln > 0 %}
                        <div class="table-responsive">
                            <table class="review-table">
                                <div class="table-body">
                                <thead><tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Message</th>
                                </tr></thead>
                                {% for r in reviews %}
                                <tbody><tr>
                                    <th scope="row">{{ r.date }}</th>
                                    <th>{{ r.product }}</th>
                                    <th>{{ r.rating }}</th>
                                    <th>{{ r.review }}</th>
                                </tr></tbody>
                                {% endfor %}
                            </table>
                        </div>
                        </div>
                    {% else %}
                    <p>You haven't submitted any reviews.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    
        {% else %}
        <h4 class="notice">You are not logged in. Please login first.</h4>
        <div class="col"><a class="notice-link" href="{% url 'login' %}">Login</a></div>
        <div class="col"><a class="notice-link" href="{% url 'register' %}">Register</a></div>
        {% endif %}
    </div>
        
</body>