.container-wrap{
    display: flex;
    flex-direction : row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}


.products-container {
    display: flex;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 50 px;
    padding-bottom: 100px;
} 

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid navy;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid navy;
    padding: 10px 0;
} 


