
.wkwk {
    background-color: aqua;
    color:  white;
}

.promotions-header {
    padding-top: 7%;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 97px;
    text-align: center;
    color: #FFFFFF;
}

.table-body {
    padding: 5% 10%;
}

.coupons-table {
    background-color: aliceblue;
    border: 2px solid #080624;
    box-sizing: border-box;
    border-radius: 0px 9px 0px 0px;
}

.coupons-thead {
    background-color: #355095;
    border: 2px solid #080624;
    box-sizing: border-box;
    border-radius: 0px 9px 0px 0px;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    
    color: #FFFFFF;
}

.body-table {
    text-align: center;
}

.search-button{
    margin-left: -5%;
}

.suggestion_coupon{
    background-color: white;
    /* text-align: center; */
}