<!DOCTYPE html>
{% load static %}
{% include "base.html" %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'promotions-style.css' %}">
    <title>Promotions</title>
</head>
<body class="container-body">
    {% include "navbar.html" %}

    <h1 class="promotions-header">PROMOTIONS</h1>

        <form action="{% url 'search_result' %}" method="get" class="form-inline d-flex justify-content-center md-form form-sm">
          <select name="dropdown" class="custom-select my-1 mr-sm-2" id="">
            <option value="kode">kode</option>
            <option value="diskon">% diskon</option>
          </select>
          <input name="input" class="form-control form-control-sm mr-3 w-25" type="text" placeholder="Search"
            aria-label="Search">
          <div class="search-button">
          <button class="btn" ><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </form>

    {% if not_int_input %}
        <h4 class="p-3 text-center text-light text-bold">Masukkan pencarian diskon dengan benar</h4>
    {% endif %}

    <div class="table-body">
    <table class="table coupons-table">
        <thead class="coupons-thead" >
          <tr>
            <th scope="col">Kode</th>
            <th scope="col">Periode</th>
            <th scope="col">Diskon</th>
            <th scope="col">Deskripsi</th>
          </tr>
        </thead>
        {% for i in coupons %}
        <tbody class="body-table">
          <tr>
            <th scope="row">{{i.code}}</th>
            <td>{{i.periode}}</td>
            <td>{{i.percent_discount}}%</td>
            <td>{{i.description}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
      


</body>
</html>