<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <class="cart">
    </class>
</head>
<body>
<div class="products-container">
    <div class="product-header" style="color: white;">
        <h5 class="product-title" style="text-align: center;">PRODUCT</h5>
        <br><br>
        <!-- <h5 class="quantity">QUANTITY</h5> -->
    </div>
    <div class="products">
    </div>
</div>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="{% static 'shopcart.js'%}"></script>

</body>
</html>