<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>Products</title>
    <class="cart">
            <a href="shop.html">
             <button class="btn btn-success"><ion-icon name="basket"></ion-icon>Cart</button>
            </a>
    </class>
</head>
<body>
    <div class="container search d-flex justify-content-center">
        <form class="form-inline" action="{% url 'products:search_result' %}">
            <input name="hasil_cari" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
    </div>
    
    <div class="row row-cols-1 row-cols-md-4 rapi">
        {% for jenis in cari %}
        <div class="col mb-4 d-flex justify-content-center">
          <div class="card">
            <img src="{{ jenis.gambar }}" class="card-img-top" alt="kaos">
            <div class="card-body">
              <h5 class="card-title" id="nama"><a href="{% url 'productsdetails:details' jenis.id %}">{{jenis.namaBarang}}</a></h5>
              <p class="card-text" id="harga">Rp{{ jenis.harga }},-</p>
              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
    {% endfor %}
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="{% static 'shopcart.js'%}"></script>
  </body>
</html>