.card-title {
    text-align: center;
}

.card-title a{
    text-decoration: none;
    color: #355095;
}

.card-title a:hover {
    color:#9fb8f7;
}

.search {
    background-color: white;
    padding: 7px;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
    max-width: fit-content;
    border-radius: 5px;
}

.rapi {
    margin: 0;
    padding: 0 15px;
    max-width: 100%;
}

.card-img-top{
    max-height: 214px;
}

.card{
    max-width: 321px;
}

.card-text {
    text-align: center;
}

/* cart */
.products-container {
    display: flex;

    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 50 px;
    
    padding-bottom: 100px;
    color: white;
}

.products-container ion-icon {
    font-size: 25px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid navy;
    margin: 0 auto;
    color: white;
}

.product-title {
    width: 45%;
    color: white;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
    color: white;
}

.product {
    width: 85%;
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid navy;
    padding: 10px 0;
    color: white;
}


