.login-form {
	
	padding: 20px;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: semi-bold;
	
}

.notice {
    
    margin: auto;
    font-family: Titillium Web;
    color: white;
    text-align: center
    
}

.button {
    
    background-color: #ffffff;
    margin: 8px;
    border: none;
    color: #080624;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    font-family: Titillium Web;
    font-weight: semi-bold;
    
}

.table-header {
    font-family: Titillium Web;
    padding: 5%;
    text-align: center;
}

.review-table {
    display: block;
    margin: 5%;
    border: 2px solid #080624;
    background-color: aliceblue;
    font-family: Titillium Web;
    font-weight: semi-bold;
}

.table-body {
    padding: 5%;
}
