<!DOCTYPE html>
{% load static %}
{% include "base.html" %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'transactions-style.css' %}">
    <title>Transactions</title>
</head>
<body class="container-body">
    {% include "navbar.html" %}

    <h1 class="promotions-header">TRANSACTIONS HISTORY</h1>
  <div class="table-responsive">
    <div class="table-body">
    <table class="table coupons-table">
        <thead class="coupons-thead" >
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Buyer</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Coupon</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        {% for i in transactions %}
        <tbody class="body-table">
          <tr>
            <th scope="row">{{i.product}}</th>
            <td>{{i.buyer}}</td>
            <td>{{i.purchase_date}}</td>
            <td>{{i.coupon}}</td>
            <td>Rp.{{i.total}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>


</body>
</html>