<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'reviews-style.css' %}">
	<title>Reviews</title>
</head>
<body>
	<div class="container">
	    <div class="row row-cols-1 row-cols-md-2 rapi">
			<div class="col mb-2">
				<h1 class="review-header">RATE <br> OUR <br> PRODUCT</h1>
			</div>
		<div class="col mb-2">
			<div class="card" style="margin-top: 40px">
			<div class="review-form">
				<form action="/reviews/" method="POST">
					{% csrf_token %}
					{% for field in form %}
						<div class="row">
							<div class="col-md-2">    
								{{ field.label_tag }}
								{% if field.help_text %}
									<sup>{{ field.help_text }}</sup>
								{% endif %}
								{{ field.errors }}
							</div><div class="col-md-10 pull-left">
								{{ field }}
							</div>
						</div>
					{% endfor %}
			
					<p><input type="submit" value="Submit"></p>
				</form>
			</div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>