<!DOCTYPE html>
{% load static %}
{% include "base.html" %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Thank You</title>
</head>
<body>
    <h1 class="beranda beranda-h1">THANK YOU</h1>
    <div class="container beranda beranda-navbar">
        <div class="row">
          <div class="col"><a href=#>Products</a></div>
          <div class="col"><a href=#>Transactions</a></div>
          <div class="col"><a href=#>Promotions</a></div>
          <div class="col"><a href="">Reviews</a></div>
        </div>
      </div>
</body>
</html>