<!DOCTYPE html>
{% load static %}
{% include "base.html" %}
<html lang="en">
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'promotions-style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Cart</title>
    <script src="{% static 'ajax_search.js'%}"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

</head>
<body class="container-body" style="height: 1000px;">
    {% include "navbar.html" %}

    <h1 class="promotions-header">SILAHKAN ISI</h1>
<form action="">
    <div class="ss" style="text-align: center;">
    <p class="text-light">Nama :  {{form.buyer}}</p>
    <p class="text-light">Coupon : {{form.coupon}}</p>
    <div class="text-light"><p > Harga : </p>
        <p id="harga-barang">{{row.harga}}</p>
    </div>
    <button>submit</button>
    </div>
</form>


{% csrf_token %}
<div class="suggestion_coupon col-md-8 offset-md-2 bg-light p-4 mt-3 rounded ">
    <h3 class="text-center">Cari kupon</h3>
    <div class="form-inline p-3">
        <select name="search_option" id="search_option" style="width: 15%;">
            <option value="kode">kode</option>
            <option value="diskon">% diskon</option>
        </select>
        <input type="text" id="search" name="search" class="form-control form-control-lg rounded-0 border-info" placeholder="Search coupon..." style="width: 65%;"/>
        <input id="apply-btn" name="submit" value="Apply" class="btn btn-info btn-lg rounded-0" style="width: 20%;" >
    </div>
</div>

<div class="col-md-5 col-sm-5" style="position: relative;margin-top: -38px;margin-left: 501px;">
<div id="search_results" >

</div>
<p id="no-coupon"></p>
</div>

</body>
</html>