{% include 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<div>
    <div class="row row-cols-1 row-cols-md-4 rapi">
        {% for transaksi in list_transaksi %}
        <div class="col mb-4 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{transaksi.0.user.username}}</h5>
              <p class="card-text">Barang: {{transaksi.2}}</p>
              <p class="card-text">tanggal transaksi: {{transaksi.0.transaction_date|date:"Y-m-d / G:i"}}</p>
              <p class="card-text">
                {% if transaksi.0.code_kupon != None %} 
                    Kupon: {{transaksi.0.code_kupon.code}} ({{transaksi.0..code_kupon.percent_discount}}% off)
                {% else %}
                    Kupon : Tidak Menggunakan
                {% endif %}
              </p>
              <p class="card-text">Total transaksi: Rp. {{transaksi.1}}, 00</p>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
