{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load static %}
{% block content %}

<h3 class="notifikasi"></h3>
<h3 class="gagal_barang"></h3>
<div id="loading" style="display:none">
    Transaksi sedang dibuat
</div>

<div>
    <h3>Yours Checkout :D</h3>
    {% for item in isi_keranjang %}
    <div>
        <h3>{{item.0.product.namaBarang}}</h3>
        <h3>{{item.1}}</h3>
    </div>
{% endfor %}
    <h3>Kupon: <span id="nama-kupon-transaksi">Tidak ada</span></h3>
    <h3>Total harga: Rp{{total_harga}},-</h3>
    <h3 id="harga_setelah_kupon"></h3>
    <button id="checkout" class="btn btn-success">Checkout!</button>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'cepat.js'%}"></script>

{% endblock %}
