<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"> 
	<link rel="stylesheet" href="{% static 'authentication-styles.css' %}">
	<title>Logged out</title>
</head>
<body>
	<h4 class="notice">Successfully logged out. Thank you for visiting!</h4> 
</body>
</html>