<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'accounts-style.css' %}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1031625126288-kq0tcslada213ds9g0p9rfel99eqb70j.apps.googleusercontent.com">
	<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="row">
            <div class="card" style="margin-top: 40px">
                <div class="col mb-2">
                    
                    {% if user.is_authenticated %}
                        <h4 class="notice">You are already logged in. Please logout first to login with different account.</h4>
                        <a class="notice-link" href="{% url 'logout'%}?next=/accounts/logged_out/">Logout</a>
                    
                    {% else %}
                        <div class="login-form">
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <p><input type="submit" id="submit" value="Login"></p>
                                <p>Don't have an account yet? <a href="{% url 'register' %}">Register</a> now!</p>
                                <p><input type="hidden" name="next" value="{{ next }}"></p>
                                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                            </form>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>