<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"> 
	<link rel="stylesheet" href="{% static 'authentication-styles.css' %}">
	<title>Logged out</title>
</head>
<body>
	<h4 class="notice">Account created successfully!</h4>
    <div class="col">
        <div class="notice-link">
            <a href="{% url 'login' %}">Login</a><p> now to start shopping.</p>
        </div>
    </div>
</body>
</html>