<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static 'accounts-style.css' %}">
	<title>Register</title>
</head>
<body>
    <div class="container">
		<div class="row">
			<div class=".col-md-8">
				<div class="card">
					<div class="signup-form">
					
						{% if user.is_authenticated %}
							<p>You are already logged in. Please logout first to create a new account.</p>
							<a href="{% url 'logout'%}?next=/accounts/logged_out/">Logout</a>
						{% else %}
						
							<form action="" method="POST">
								{% csrf_token %}
								{{ form.as_p }}
								<p><input type="submit" id="submit" value="Register"></p>
							</form>
						
						{% endif %}
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>