{% if coupons.count > 0 %}

{% for coupon in coupons %}
    <p class="hasil-cari list-group-item list-group-item-action border-1">{{coupon.code}}</p>
{% endfor %}

{% elif input_not_int %}
    <p class="hasil-cari list-group-item list-group-item-action border-1">{{coupon.code}}</p>
{% else %}
    <p class="hasil-cari list-group-item list-group-item-action border-1">{{coupon.code}}</p>
{% endif %}