{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load static %}


<head>
    <script src="{% static 'shop.js'%}"></script>
    <script src="shop.js"></script>
</head>
<body>
    <script src="{% static 'shop.js'%}"></script>
    <!-- <script src="shop.js"></script> -->
    {% for data in item %}
<tr>
    <td><img src="{{ item.gambar }}"></td>
    <td style="text-align: center;">{{ item.nama }}</td>
    <td style="text-align: center;">{{ item.harga }}</td>
    <td style="text-align: center;">{{ item.jumlah }}</td>
    <td><button class="btn btn-danger">Remove</button></td>
    <div id="input_div">
        <input type="text" size="25" value="1" id="count">
        <input type="button" value="-" id="moins" onclick="minus()">
        <input type="button" value="+" id="plus" onclick="plus()">
    </div>    
</tr>
    {% endfor %}

</body>
