{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'shop.js'%}"></script>
</head>
<div class="container">
    <br>
        <div style="text-align: center;color: white;">
            <img class="fotobarang" src="{{ row.gambar }}" width="480vw">
            <br><br><br>
                    <h3 class="namabarang"> {{ row.namaBarang }}</h3>
                    <h5 class="hargabarang" >{{ row.harga }}</h5>
                    <h5 class="stokbarang" >Stok : {{ row.stok }}</h5>
                <div class="container">
                    <p >Deskripsi : </p>
                    <p  class="deskripsi" style="color: white;">{{ row.deskripsi }}</p>
                </div>
            </div>
</div>
{% endblock %}