<!DOCTYPE html>
{% load static %}
{% include "base.html" %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Beranda</title>
</head>
<body>
    <h1 class="beranda beranda-h1">WELCOME TO <br> PEPEW</h1>
    <div class="container beranda beranda-navbar">
        <div class="row">
          <div class="col"><a href="{% url 'products:products' %}">Products</a></div>
            {% if user.is_authenticated %}
              <div class="col"><a href=transactions>Transactions</a></div>
              <div class="col"><a href=promotions>Promotions</a></div>
              <div class="col"><a href=reviews>Reviews</a></div>
            {% else %}
                <div class="col"><a href="{% url 'login' %}">Login</a></div>
                <div class="col"><a href="{% url 'register' %}">Register</a></div>
            {% endif %}
        </div>
      </div>
</body>
</html>