<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'homepage:index' %}">Pepew</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'products:products' %}">Products<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href=/transactions>Transactions</a>
            <a class="nav-item nav-link" href=/promotions>Promotions</a>
            <a class="nav-item nav-link" href=/reviews>Reviews</a>
            
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout'%}?next=/accounts/logged_out/">Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
            
        </div>
        </div>
    </nav>
</body>
</html>
