body {
    background-color:#080624;

}

.navbar {
    color:#355095; 
    background-color: white;
    font-family: Titillium Web;
    font-weight: bold;
    font-size:larger;
    text-transform: uppercase;
}

.beranda {
    font-family: Titillium Web;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.beranda-navbar {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 2.5;
}

.beranda-h1 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 1.8;
}

.beranda a {
    text-decoration: none;
    color: white;
}

.beranda a:hover {
    color: #9fb8f7;
}

@media (min-width:900px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .navbar-expand-lg{
        justify-content: space-between;
    }
}
<<<<<<< HEAD


=======
>>>>>>> 6ea09e3df3572f23ad3ecd740ff2b3e4c2b7389d
