.review-header {
	
    padding-top: 10%;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    text-align: left;
    
    color: #FFFFFF;
}

.review-form {
	
	padding: 20px;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: semi-bold;
	
}